<style>
  @font-face {
  font-family: 'joystix';
  src: url('joystix.ttf');
}
  @font-face {
  font-family: 'Kievit_Bold';
  src: url('Kievit_Bold.ttf');
}
  @font-face {
  font-family: 'apercu';
  src: url('apercu-regular-webfont.ttf');
}

body {
  color: #ddd;
  background-color: #111;
}
i {
  font-family: serif;
  font-size: 30px;
  text-decoration: underline;
}
.video_object {
  width: 700px;
  box-shadow: 12px 12px #888888;
  margin: 12px 30px 30px 30px;
}
.wrapper {
  margin: auto;
  width: 800px; 
}
.solid_shadow {
  text-shadow: 7px 7px rgb(192, 61, 61);
}
.joystix {
  font-family: joystix, sans-serif
}
.graf {
  font-family: Kievit_Bold, sans-serif;
  font-size: 30px;
  margin: 0;
}
.wrapper, pre {
  font-family: apercu, sans-serif;
  font-size: 20px;
  line-height: 1.55;
}
ul {
  line-height: 1.58;
}
li {
  margin-top: 7px;
}
.cool_title {
  font-size: 36pt;
}
.text_center {
  text-align: center;
}
</style>
<div class="wrapper">
  <h1 class="joystix text_center cool_title solid_shadow">Simple Game Dev concepts</h1>
  <h3 class="graf">Goal</h3>
  <div>
    <ul>
      <li>Gain knowledge.</li>
      <li>Make finished games (As a part of experience/portfolio work).</li>
      <li>Learn how to work in a team (through).</li>
    </ul>
  </div>
  <h3 class="graf">Communication and project management</h3>
  <div>
    <ul>
      <li>Discord (because it's free and simple to setup a group convo).</li>
      <li>git (gitlab.com will be used).</li>
      <li>ClickUp.com (similar to Trello, for managing tasks and deadlines).</li>
    </ul>
  </div>
  <h3 class="graf">Straight-lines "super hexagon game"</h3>
  <video controls loop class="video_object">
    <source src="Main.mp4" type="video/mp4">
  </video>
  <h3 class="graf">Mobile-friendly fighting game</h3>
  <video controls loop class="video_object">
    <source src="Main_2.mp4" type="video/mp4">
  </video>
  <h3 class="graf">Battle city-like game with robots</h3>
  <video controls loop class="video_object">
    <source src="Battle_city_like.mp4" type="video/mp4">
  </video>
  <h3 class="graf">Radial "pac-man"-like game</h3>
  <video controls loop class="video_object">
    <source src="Main_3.mp4" type="video/mp4">
  </video>
  <h3 class="graf">Miami vice pizza guy</h3>
  <video controls loop class="video_object">
    <source src="Main_4.mp4" type="video/mp4">
  </video>
  <h3 class="graf">Contra Guy Vs Zombies</h3>
  <video controls loop class="video_object">
    <source src="Main_5.mp4" type="video/mp4">
  </video>
  <h3 class="graf">Neon snake x tetris hybrid</h3>
  <video controls loop class="video_object">
    <source src="doc_2018-11-09_01-43-48.mp4" type="video/mp4">
  </video>
  <h3 class="graf">Notes</h3>
  <p>No minor roles like story writer or pure designer (assuming you're not professional in this field)</p>
  <pre>
Everyone should learn a bit of:
  <i>editor</i> (Prefab placement, setting up a basic level)
  <i>c# scripting</i>
    Gameplay logic
    UI
    Tech-specific part
        Custom level tech
        Character tech
    Editor scripting
        Asset automation
        Scene/level objects automation
        I/O tools (custom format import)
  <i>graphics and fx</i>
      Custom effects
      Shaders / materials
      Particle systems
  <i>additional plugin tech</i> (optionaly)
      Plugins (C++)
      Metrics
      Social network plugins
  <i>asset creation</i> (or recycling of existing stuff)
      Adapting existing free-license assets
          Like sprite sheets, background
          Creation of new sprites
      3D assets
          Procedural
              (houdini)
          Non procedural
              Modeling
              Texturing etc
      Animation (adaptation of existing material)
  <i>testing</i>
      Gameplay testing
      Platform specific testing
      iOS 
      Android
  </pre>
<h3 class="graf">Possible responsibilites for current project</h3>
  <pre>
<i>"controls" developer</i>
    Makes a very good controls/tap/accelerometer system
        Use of existing scripts/tutorials
        Research and development testing
    Even simple tap mechanism requires a bit of testing
        For checking tap zones etc.
    Joystics/dpad on touch screen may get complicated
<i>sprite artist</i>
    Needs a good googling skill
        To find appropriate sprites
    Small photoshop knowledge (for editing sprites)
    Unity Sprite tools
        Slicing a sprite sheet
        Assembling animation clips
            Watch tutorials
<i>sound engineer</i>
    Being able to find appropriate sound material
    BGMs (royalty free stuff)
    Same with sound effects
    Having consistent volume levels for each /action
<i>ui guy</i>
    Assembles HUD, menu
    Makes its logic
    Learn Unity UI system + IMGUI (for small stuff)
<i>fx artist</i>
    Makes 2d particle system
    Animation effects
        Like tweens, springs etc
        Could spice up the UI
<i>level tech guy</i>
    Gets sprites, designs (engineers) 
        interaction between GameObjects and scene elements
    Partial procedural generation
        Destructive levels
<i>gameplay developer</i>
    Writes game logic (high level interaction) between game objects
<i>tech developer</i>
    Optimization
    Connects game logic to other game components (like HUD)
    Networking…
<i>rnd dev</i>
    Makes game tech ideas
        (some unpolished gameplay logic 
        // plugin
        // shader
        Material which could be turned into a full game
<i>multiplatform developer</i>
    Handles android
    + iOS 
    Profiling on multiple platforms 
</pre>
</div>